<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>version</string>
	<string>BSD::Resource</string>
	<string>Class::Std</string>
	<string>Digest::MD5::File</string>
	<string>Expect</string>
	<string>Encode::Guess</string>
	<string>Encode::MIME::Name</string>
	<string>Encode::Detect::Detector</string>
	<string>Data::Dump</string>
	<string>File::Copy::Recursive</string>
	<string>File::Find::Rule</string>
	<string>IO::Tty</string>
	<string>Sys::Hostname::Long</string>
	<string>Template</string>
	<string>YAML::Syck</string>
	<string>JSON::Syck</string>
	<string>cPanel::MemTest</string>
	<string>HTTP::Date</string>
	<string>Scalar::Util</string>
	<string>Bundle::LWP</string>
	<string>DBI</string>
	<string>Bundle::DBD::mysql</string>
	<string>Crypt::SSLeay</string>
	<string>CPAN::SQLite</string>
	<string>Data::Dumper</string>
	<string>Digest::MD5</string>
	<string>Digest::SHA1</string>
	<string>Encode</string>
	<string>ExtUtils::Constant</string>
	<string>ExtUtils::ParseXS</string>
	<string>File::Touch</string>
	<string>Filesys::Df</string>
	<string>Filesys::Virtual</string>
	<string>Filter::Util::Call</string>
	<string>Getopt::Long</string>
	<string>Getopt::Param::Tiny</string>
	<string>Compress::Raw::Zlib</string>
	<string>Authen::Libwrap</string>
	<string>Net::FTPSSL</string>
	<string>Net::SSL</string>
	<string>Net::SSLeay</string>
	<string>IO::Compress::Gzip</string>
	<string>IO::Scalar</string>
	<string>IO::Authen::Socket::SSL</string>
	<string>IO::Stty</string>
	<string>IO::Uncompress::Gunzip</string>
	<string>Lchown</string>
	<string>List::Util</string>
	<string>MD5</string>
	<string>Net::AIM</string>
	<string>Net::DNS</string>
	<string>Net::OSCAR</string>
	<string>Pod::Perldoc</string>
	<string>Storable</string>
	<string>Sys::Syslog</string>
	<string>Term::ReadKey</string>
	<string>Term::ReadLine::Perl</string>
	<string>Time::HiRes</string>
	<string>Tree::MultiNode</string>
	<string>Unix::PID</string>
	<string>Unix::PID::Tiny</string>
	<string>XML::Parser</string>
	<string>XML::SAX</string>
	<string>XML::Simple</string>
	<string>lib::restrict</string>
	<string>Crypt::GPG</string>
	<string>Class::Accessor</string>
	<string>Class::Accessor::Fast</string>
	<string>File::MMagic::XS</string>
	<string>Email::Valid</string>
	<string>File::ReadBackwards</string>
	<string>ExtUtils::MakeMaker</string>
	<string>Mail::SRS</string>
	<string>Acme::Spork</string>
	<string>Archive::Tar</string>
	<string>Archive::Tar::Streamed</string>
	<string>Archive::Zip</string>
	<string>Encode::Guess</string>
	<string>Bundle::Interchange</string>
	<string>Business::OnlinePayment::AuthorizeNet</string>
	<string>Business::UPS</string>
	<string>CGI</string>
	<string>Class::Std::Utils</string>
	<string>Compress::Bzip2</string>
	<string>Compress::Zlib</string>
	<string>DBIx::MyParsePP</string>
	<string>DBD::SQLite2</string>
	<string>Date::Parse</string>
	<string>File::Tail</string>
	<string>GD::Graph</string>
	<string>GD::Text::Align</string>
	<string>Memoize</string>
	<string>Geo::IPfree</string>
	<string>HTML::Parser</string>
	<string>HTTP::Daemon::App</string>
	<string>IO::Socket::ByteCounter</string>
	<string>Image::Size</string>
	<string>MIME::Base64</string>
	<string>Mail::DomainKeys</string>
	<string>Mail::SPF</string>
	<string>Mail::SPF::Query</string>
	<string>Mail::DKIM</string>
	<string>IP::Country</string>
	<string>Graph::Easy</string>
	<string>Graph::Flowchart</string>
	<string>Mail::SpamAssassin</string>
	<string>XML::LibXML::Common</string>
	<string>URI::Escape</string>
	<string>XML::LibXML</string>
	<string>Net::DAV::Server</string>
	<string>Net::Daemon::SSL</string>
	<string>Net::LDAP</string>
	<string>Net::LDAP::Schema</string>
	<string>Net::LDAP::Server</string>
	<string>GD::Graph</string>
	<string>Parse::RecDescent</string>
	<string>Quota</string>
	<string>SVG::TT::Graph</string>
	<string>Safe::Hole</string>
	<string>Text::CSV</string>
	<string>Spreadsheet::ParseExcel</string>
	<string>Spreadsheet::WriteExcel</string>
	<string>String::CRC32</string>
	<string>SQL::Statement</string>
	<string>Tie::IxHash</string>
	<string>Tie::ShadowHash</string>
	<string>Tie::Watch</string>
	<string>Tie::DBI</string>
	<string>URI::URL</string>
	<string>File::Scan::ClamAV</string>
</array>
</plist>
